﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>FrontEnd</h1>
    <p class="lead">Prueba Jorge Gutierrez Dale!</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ver Productos</h2>
        <p>
           Listado de productos creados en el sistema
        </p>
        <p>
            @Html.ActionLink("Ver Mas..", "Index", "Product",null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Listado de Clientes creados en el sistema.</p>
        <p>
            @Html.ActionLink("Ver Mas..", "Index", "Client", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ventas</h2>
        <p>Listado de Ventas creados en el sistema.</p>
        <p>
            @Html.ActionLink("Ver Mas..", "Index", "Sale", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>