﻿@model WebApppMvc.Models.Product

@{
    ViewBag.Title = "Details";
}

<h2>Detalle del Producto</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitValue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitValue)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdPorduct }, new { @class = "btn btn-info " }) 
    @Html.ActionLink("Volver", "Index", null, new { @class = "btn btn-danger" })

</p>
