﻿@model IEnumerable<WebApppMvc.Models.Product>

@{
    ViewBag.Title = "Index";
}

<h2>Productos</h2>

<p>
    @Html.ActionLink("Nuevo Producto", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdPorduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdPorduct)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitValue)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdPorduct }, new { @class = "btn btn-info " })
        @Html.ActionLink("Detalle", "Details", new { id = item.IdPorduct }, new { @class = "btn btn-warning" })
        @if (item.Active)
        {
            @Html.ActionLink("Vender", "Create", "Sale", new { id = item.IdPorduct }, new { @class = "btn btn-primary " })
        }
        else
        {
            <btn class="btn btn-primary" disabled>Vender</btn>
        }

    </td>
</tr>
}

</table>
