﻿@model IEnumerable<WebApppMvc.Models.Client>

@{
    ViewBag.Title = "Index";
}

<h2>Clientes</h2>

<p>
    @Html.ActionLink("Nuevo Cliente", "Create", null, new { @class = "btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IdClient)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cedula)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LastName)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Phone)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Active)
    </td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { id = item.IdClient }, new { @class = "btn btn-info " })
        @Html.ActionLink("Detalle", "Details", new { id = item.IdClient }, new { @class = "btn btn-warning" })
        @if (item.Active)
        {
            @Html.ActionLink("Vender", "SaleClient", "Sale", new { id = item.IdClient }, new { @class = "btn btn-primary " })
        }
        else
        {
            <btn class="btn btn-primary" disabled>Vender</btn>
        }
    </td>
</tr>
}

</table>
