﻿@model IEnumerable<WebApppMvc.Models.Sale>

@{
    ViewBag.Title = "Index";
}

<h2>Listado De Ventas</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameClient)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NameClient)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalValue)
        </td>
    </tr>
}

</table>
