﻿@model WebApppMvc.Models.Sale

@{
    ViewBag.Title = "SaleClient";
}

<h2>Nueva Venta Para  <b> @Model.NameClient </b></h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdClient)
        @Html.HiddenFor(model => model.NameClient)
        @Html.HiddenFor(model => model.NameProduct)
        <div class="form-group">
            @Html.LabelFor(model => model.IdProduct, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdProduct", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdProduct, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Amount, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UnitValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UnitValue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.UnitValue, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TotalValue, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TotalValue, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.TotalValue, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Agregar Producto" class="btn btn-default" />
                @if (Session["addProduct"] != null)
                {
                    @Html.ActionLink("Guardar Venta", "SaveProduts", null, new { @class = "btn btn-primary" });
                }

            </div>
        </div>
    </div>
}


@if (Session["addProduct"] != null)
{
    <div>
        <table class="table">
            <tr>
                <th>
                   Producto
                </th>
                <th>
                   Cantidad
                </th>
                <th>
                    Valor Unidad
                </th>
                <th>
                   Valor Total
                </th>
                <th></th>
            </tr>
            @foreach (var item in Session["addProduct"] as List<WebApppMvc.Models.Sale>)
            {
                <tr>
                    <th>
                        @item.NameProduct
                    </th>
                    <th>
                        @item.Amount
                    </th>
                    <th>
                        @item.UnitValue
                    </th>
                    <th>
                        @item.TotalValue
                    </th>
                    <th></th>
                </tr>
            }

        </table>

    </div>
    
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $('#Amount').change(function () {
            var amount = $(this).val();
            if (amount > 0) {
                $("#TotalValue").val($("#Amount").val() * $("#UnitValue").val());
            }
        });

        $('#IdProduct').change(function () {
            var idProduct = $(this).val();
            $.ajax({
                url: "/Sale/GetProduct/" + idProduct,
                success: function (response) {
                    debugger;
                    $("#Amount").val(0)
                    $("#TotalValue").val(0)
                    $("#UnitValue").val(response.UnitValue)
                    $("#NameProduct").val(response.Name)
                    
                },
                async: true
            });

        });
    </script>
}
